<h2 class="h2">Notre équipe</h2>
<div class="apropos">
    <div class="slider">
        <img src="{{ asset('build/images/imgEquipe/roman.webp') }}" alt="photo de roman" class="img_slider "><p class="platpref active">Roman<br>
            Plat préféré : Poulet rôti avec un gratin dauphinois</p>
        <img src="{{ asset('build/images/imgEquipe/charlotte.webp') }}" alt="photo de charlotte" class="img_slider"><p class="platpref">Charlotte<br>
            Plat préféré : Lasagne de napoli</p>
        <img src="{{ asset('build/images/imgEquipe/jubel.webp') }}" alt="photo de jubel" class="img_slider"><p class="platpref">Jubel<br>
            Plat préféré : Couscous marocain</p>
        <img src="{{ asset('build/images/imgEquipe/hugo.webp') }}" alt="photo de hugo" class="img_slider"><p class="platpref">Hugo<br>
            Plat préféré : Pâte thaï poulet</p>
        <img src="{{ asset('build/images/imgEquipe/amilo.webp') }}" alt="photo de amilo" class="img_slider"><p class="platpref">Amilo<br>
            Plat préféré : Barbecue corréen</p>
        <img src="{{ asset('build/images/imgEquipe/gabriel.webp') }}" alt="photo de gabriel" class="img_slider"><p class="platpref">Gabriel<br>
            Plat préféré : Sushi japonais</p>
        <img src="{{ asset('build/images/imgEquipe/amar.webp') }}" alt="photo de amar" class="img_slider"><p class="platpref">Amar<br>
            Plat préféré : Pâte italienne</p>
        <img src="{{ asset('build/images/imgEquipe/david.webp') }}" alt="photo de david" class="img_slider"><p class="platpref">David<br>
            Plat préféré : Bandeja paisa colombienne</p>
        <img src="{{ asset('build/images/imgEquipe/mathiew.webp') }}" alt="photo de mathiew" class="img_slider">
        <p class="platpref">Mathiew<br>Plat préféré : Poulet curry d'Inde</p>
        <div class="suivant">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="precedent">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </div>
    <p class="qui">Prenez une équipe de neuf personnes, mélangez-y sept apprentis designers passionnés de création et deux développeurs web experts en programmation. Ajoutez une pincée d'innovation et de savoir-faire, une cuillerée de compétences techniques et une poignée de collaboration étroite pour une texture lisse et homogène. Saupoudrez le tout d'un enthousiasme débordant et d'une approche créative pour un goût unique et savoureux. Laissez l'équipe reposer pendant plusieurs heures de travail acharné, en remuant régulièrement pour une cohésion parfaite. Servez chaud avec une touche de fierté pour un résultat final délicieusement réussi.
    </p>
</div>